.vscode
**/*/linux64*
**/*/lnInclude
**/*/log*
**/*/out*
**/*/.log*
**/*/.out*
**/*/.gz
**/*/.zip
**/*/.rar
**/*/.stl
**/*/.obj
**/*/VTK
tutorials/**/0.*
tutorials/**/*e-*
tutorials/**/proc*
tutorials/**/[0-9]
tutorials/**/polyMesh

!tutorials/**/[0-9].orig